<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="theme-color" content="#00AA8D">

  <title>Homemade</title>
  <link rel='icon' href='/images/minilogo2.png'>
  <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>
  <link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
  <link rel="import" href="src/home-page.html">

  <style>
    body {
      margin: 0;
      font-family: Raleway, sans-serif;
      background-color: #f5f5f5;
    }
  </style>

</head>
<body unresolved>

  <dom-bind>
    <template is="dom-bind">
      <iron-ajax
        id="id_ajax"
        auto
        url="https://api.mlab.com/api/1/databases/bootcampjass/collections/postsjaas"
        params='{"apiKey":"SGJFX_7hANA-eUprGG1mWSnwtPBPLecI"}'
        handle-as="json"
        method="GET"
        content-type="application/json"
        last-response="{{listadoindex}}">
      </iron-ajax>

      <iron-ajax
        id="id_ajax"
        auto
        url="https://api.mlab.com/api/1/databases/bootcampjass/collections/usersjaas"
        params='{"apiKey":"SGJFX_7hANA-eUprGG1mWSnwtPBPLecI"}'
        handle-as="json"
        method="GET"
        content-type="application/json"
        last-response="{{usuariosindex}}">
      </iron-ajax>

      <home-page listadohomepage="[[listadoindex]]" usuarioshomepage="[[usuariosindex]]"></home-page>
    </template>
  </dom-bind>

</body>
</html>
