<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous">
</script>

<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-alert-dialog/paper-alert-dialog.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="page-detail.html">
<link rel="import" href="page-create.html">
<link rel="import" href="page-edit.html">
<link rel="import" href="page-list.html">
<link rel="import" href="page-users-list.html">
<link rel="import" href="page-manage-users.html">
<link rel="import" href="app-icons.html">

<dom-module id="home-page">
  <template>

    <style>
    :host {
      --paper-font-common-base: {
        font-family: Raleway, sans-serif;
      };
    }

    app-drawer-layout:not([narrow]) [drawer-toggle] {
      display: none;
    }

    /*Area superior izquierda (circulo, imagen, contacto, mail)*/
    .avatar-container {
      position: relative;
      border: 2px solid #075E54;
      border-radius: 50%;
      height: 90px;
      padding: 2px;
      width: 90px;
      margin: 20px auto;
    }
    .avatarImagen {
      background-image: url('../images/minilogo2.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
    .contact-info {
      margin: 0 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #CCC;
      text-align: center;
    }
    .contact-info .name {
      font-weight: bold;
    }
    .contact-info .email {
      color: #999;
    }

    /*Area de menú lateral izquierdo*/
    paper-item {
      height: 54px;
    }
    paper-item > a {
      width: 100%;
      height: 100%;
      line-height: 54px;
      text-align: center;
      text-decoration: none;
      color: black;
    }
    </style>

    <app-location route="{{_route}}" use-hash-as-path></app-location>
    <app-route
        route="{{_route}}"
        pattern="/:page"
        data="{{_pageData}}"
        tail="{{_subRoute}}"></app-route>
    <app-route
        route="{{_subRoute}}"
        pattern="/:id"
        data="{{_idData}}"></app-route>

    <app-drawer-layout responsive-width="1280px">

      <app-drawer id="drawer" swipe-open slot="drawer">
        <app-header-layout has-scrolling-region>

          <app-header fixed slot="header">
            <div class="avatar-container">
              <div class="avatarImagen" id="avatarImagen">
            </div>
            </div>
            <div class="contact-info">
              <div class="name"><span>[[myUsuario]]</span></div>
            </div>
          </app-header>

          <paper-listbox
              selected="[[_pageData.page]]"
              attr-for-selected="name"
              on-iron-activate="_drawerSelected">
            <paper-item name="home">
              <a href="#/home" class="name">
                <iron-icon mini icon="app:home"></iron-icon>   Home
                <em style="color: #d6d6d6; font-style: italic">made</em>
              </a>
            </paper-item>
            <paper-item name="users">
              <a href="#/users" class="name">
                <iron-icon mini icon="app:people"></iron-icon>   Users
              </a>
            </paper-item>
          </paper-listbox>
        </app-header-layout>
      </app-drawer>

      <iron-pages selected="[[_selectedPage]]" attr-for-selected="name">
        <page-list name="home" listadopagelist="[[listadohomepage]]">
            <paper-icon-button icon="app:menu" drawer-toggle slot="drawer-toggle"></paper-icon-button>
        </page-list>

        <page-users-list name="users" listadousers="[[usuarioshomepage]]">
            <paper-icon-button icon="app:menu" drawer-toggle slot="drawer-toggle"></paper-icon-button>
        </page-users-list>

        <page-manage-users name="usermanage" listadousers2="[[usuarioshomepage]]"></page-manage-users>
        <page-create name="create"></page-create>
        <page-detail name="detail" listadodetail="[[getPosts(listadohomepage, _idData.id)]]"></page-detail>
        <page-edit name="edit" listadoedit="[[getPosts(listadohomepage, _idData.id)]]"></page-edit>
      </iron-pages>
    </app-drawer-layout>
  </template>

  <script>
  Polymer({
    is: 'home-page',
    properties: {
      posts: Object,
      _route: Object,
      _subRoute: Object,
      _pageData: {
        type: Object,
        observer: '_pageDataChanged'
      },
      _selectedPage: String,
      _idData: Object,

      _scrollPositionMap: {
        type: Object,
        value: function() {
          return {};
        }
      },
      myUsuario: {
        type: String,
        value: sessionStorage.myUsuario
      }
    },

    ready: function() {
      if (sessionStorage.myUsuario && sessionStorage.myAvatar){
        const myAvatar = sessionStorage.myAvatar;
        const style = "background-image: url('" + myAvatar + "');";
        this.$.avatarImagen.title = sessionStorage.myUsuario;
        this.$.avatarImagen.style = style;
      }
    },

    attached: function() {
      this.async(function() {
        if (!this._route.path) {
          this.set('_route.path', '/home');
        }
      });
    },

    getPosts: function() {
      if (this.listadohomepage && this._idData && this._idData.id) {
        var listadohomepage = this.listadohomepage;
        var longitud = this.listadohomepage.length;
        /*console.log(longitud + JSON.stringify(listadohomepage));*/
        for (var i = 0; i < this.listadohomepage.length; ++i) {
          var r = this.listadohomepage[i];
          var t = r._id.$oid;
          if (t === this._idData.id) {
            return r;
          }
        }
      }
      return null;
    },

    _drawerSelected: function() {
      if (!this.$.drawer.persistent) this.$.drawer.close();
    },

    /**
     * Preserves the document scroll position, so
     * it can be restored when returning to a page.
     */
    _pageDataChanged: function(pageData, oldPageData) {
      var map = this._scrollPositionMap;

      if (oldPageData != null && oldPageData.page != null) {
        map[oldPageData.page] = window.pageYOffset;
      }
      this._selectedPage = pageData.page;
      if (map[pageData.page] != null) {
        Polymer.AppLayout.scroll({ top: map[pageData.page], behavior: 'silent' });
      } else if (this.isAttached) {
        Polymer.AppLayout.scroll({ top: 0, behavior: 'silent' });
      }
    }
  });
  </script>
</dom-module>
