<dom-module id="page-edit">
  <template>
    <style>
    :host {
      display: block;
      background-attachment: fixed;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-color: #075E54;
    }

    paper-icon-button {
      color: white; /*color de la flecha arrow-back*/
    }

    #header {
      color: white; /*color de "Home" junto a la flecha arrow-back*/
      --app-header-background-rear-layer: {background-color: #075E54;}; /*color del header al volver con scroll*/
    }

    /*tarjeta-post*/
    .tarjeta-post {
      position: relative;
      width: 1000px;
      margin: 100px auto 40px;
    }
    paper-card {
      padding: 16px 0 16px 100px;
      width: 100%;
      sizing: border-box;
    }
    .item-autor {
      margin: 40px 0 0;
      @apply --layout-horizontal;
    }
    .autor-fijo {
      margin-left: -80px;
      width: 60px;
      padding-right: 20px;
      color: #075E54;
      text-align: right;
    }
    .autor-variable {
      @apply --layout-flex;
      color: #999;
    }
    paper-input {
      width: 90%;
    }
    paper-textarea {
      width: 90%;
    }
    paper-fab {
      position: absolute;
      right: 20px;
      bottom: 20px;
      --paper-fab-background: #25D366;
      --paper-fab-keyboard-focus-background: #25D366;
    }
    @media (max-width: 720px) {
      .tarjeta-post {
        width: 100%;
        margin: 150px 0 0;
      }
    }
    </style>

    <app-header-layout>
      <app-header id="header" effects="waterfall fade-background" reveals slot="header">
        <app-toolbar>
          <a href="#/home" tabindex="-1">
            <paper-icon-button icon="app:arrow-back"  title="Back Home...   made"></paper-icon-button>
          </a>

          <div main-title>Home<em style="color: #d6d6d6; font-style: italic">made</em></div>
        </app-toolbar>
      </app-header>

      <div class="tarjeta-post">
        <paper-card id="papercard">
          <iron-form id="formulario">
            <form method="get">
              <paper-input label="Title" id="myTitulo" value="{{listadoedit.titulo}}" always-float-label required auto-validate></paper-input>
              <paper-textarea label="Text" id="myTexto" value= "{{listadoedit.texto}}" always-float-label required auto-validate></paper-textarea>
              <paper-input label="URL Image" id="myImagen" value="{{listadoedit.imageUrl}}" always-float-label required auto-validate></paper-input>
              <paper-input label="Date" id="myFecha" value="{{listadoedit.fechaalta}}" always-float-label required auto-validate></paper-input>

              <div class="item-autor">
                <div class="autor-fijo">Author:</div>
                <div class="autor-variable"><span>[[myUsuario]]</span></div>
              </div>

              <paper-fab mini icon="app:save" on-tap="editPost" id="iconoGuardar" title="Save Changes"></paper-fab>
              <paper-toast id="editIncorrecto" text="Error, post could not be modified!!!"></paper-toast>
            </form>
          </iron-form>
        </paper-card>
      </div>
    </app-header-layout>
  </template>

  <script>
  Polymer({
    is: 'page-edit',
    properties: {
      myUsuario: {
        type: String,
        value: sessionStorage.myUsuario
      }
    },

    ready: function() {
      var formulario = this.$.formulario;
      var iconoGuardar = this.$.iconoGuardar;

      formulario.addEventListener('change', function(event) {
        iconoGuardar.disabled = !formulario.validate();
      });
    },

    editPost: function() {
      const URLBASE = "https://api.mlab.com/api/1/databases/bootcampjass/collections/postsjaas";
      const APIKEY = "?apiKey=SGJFX_7hANA-eUprGG1mWSnwtPBPLecI";
      var titulopost = this.$.myTitulo.value;
      var textopost = this.$.myTexto.value;
      var urlimagen = this.$.myImagen.value;
      var fechaalta = this.$.myFecha.value;
      var myUsuario = sessionStorage.myUsuario;
      var item = this.listadoedit;
      var itemid = item._id.$oid;

      const DRIVE1A = "https://drive.google.com/file/d/";
      const DRIVE1B = "https://drive.google.com/open?id=";
      const DRIVE2 = "http://drive.google.com/uc?export=view&id=";

      for (var i = 33; i < urlimagen.length; ++i) {
        if (urlimagen.substring(i,i+1)=="/") {
          break;
        }
      }

      if (urlimagen.substring(0, 32)==DRIVE1A){
        urlimagen = DRIVE2 + urlimagen.substring(32, i);
      }

      if (urlimagen.substring(0, 33)==DRIVE1B){
        urlimagen = DRIVE2 + urlimagen.substring(33, i);
      }

      var peticion = new XMLHttpRequest();
      peticion.open("PUT", URLBASE+'/'+itemid+APIKEY, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send('{"titulo":"' + titulopost + '", "texto":"' + textopost + '", "alias":"' + myUsuario + '", "fechaalta":"' + fechaalta + '", "imageUrl":"' + urlimagen + '"}');

      if (peticion.status=="200")
        {
          location.assign("#/home");
          location.reload(false);
        }
      else
        {
          this.$.editIncorrecto.fitInto = this.$.papercard;
          this.$.editIncorrecto.open();
        }
      }
  });
  </script>

</dom-module>
