<dom-module id="page-users-list">
  <template>
    <style>

    /*panel superior*/
    app-header {
      color: #fff;
      background-color: #075E54;
    }
    app-toolbar {
      height: 120px;
    }
    [condensed-title] {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url('../images/minilogo.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 90px;
      /* The difference in font size is used to calculate the scale of the title in the transition. */
      font-size: 16px;
    }
    [main-title] {
      position: absolute;
      top: -120px;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url('../images/logo.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 240px;
      -webkit-transform-origin: center top !important;
      transform-origin: center top !important;
      /* The difference in font size is used to calculate the scale of the title in the transition. */
      font-size: 32px;
    }

    .listado-users {
      display: block;
      position: relative;
      max-width: 98%;
      margin: 5px auto;
    }

    .tarjeta-user {
      display: inline-block;
      width: 25%;
      color: black;
      text-decoration: none;
    }

    paper-card {
      display: block;
      margin: 20px;
      }
    }

    paper-card h2 {
      margin-top: -10px;
      padding-top: -10px;
      font-weight: normal;
    }

    .card-content {
      text-align: center;
    }

    iron-image {
      width: 150px;
      height: 150px;
    }

    .create {
      position: fixed;
      right: 24px;
      bottom: 24px;
      --paper-fab-background: #25D366;
      --paper-fab-keyboard-focus-background: #25D366;
    }

    /*Ajustes de escala por zoom y dispositivos*/
    @media (max-width: 960px) {
      .listado-users {
        max-width: 800px;
      }
      .tarjeta-user {
        width: 50%;
      }
    }
    @media (max-width: 719px) {
      app-toolbar {
        height: 60px;
      }
      [condensed-title] {
        background-image: url('../images/minilogo.png');
        background-size: 60px;
      }
      [main-title] {
        top: -60px;
        background-image: url('../images/logo.png');
        background-size: 90px;
      }
      .listado-users {
        max-width: 400px;
      }
      .tarjeta-user {
        width: 100%;
      }
    }
    </style>

    <app-header-layout>
      <app-header effects="resize-title" condenses fixed shadow slot="header">
        <app-toolbar class="top-toolbar">
          <slot name="drawer-toggle"></slot>
          <div condensed-title></div>
        </app-toolbar>
        <app-toolbar class="bottom-toolbar">
          <div main-title></div>
        </app-toolbar>
      </app-header>

      <div class="listado-users">
        <template is="dom-repeat" items="{{listadousers}}"><!-- No empty text node
        --><a href="#/usermanage" class="tarjeta-user">
            <paper-card>
              <div class="card-content">
                <iron-image sizing="contain" src="{{item.imageUrl}}"></iron-image>
                <h2>{{item.usuario}}</h2>
              </div>
            </paper-card>
          </a><!-- No empty text node
      --></template>
      </div>
    </app-header-layout>

    <a href="#/usermanage">
      <paper-fab mini icon="app:people" class="create" id="iconoNuevoUsuario" title="Manage Users"></paper-fab>
    </a>
  </template>

  <script>
  Polymer({
    is: 'page-users-list'

  });
  </script>
</dom-module>
