<dom-module id="page-detail">
  <template>
    <style>
    :host {
      display: block;
      background-attachment: fixed;
      background-size: 100% auto;
      background-repeat: no-repeat;
    }

    paper-icon-button {
      color: white; /*color de la flecha arrow-back*/
    }

    paper-icon-button:hover {
      color: #075E54; /*color de la flecha arrow-back al pasar por encima*/
    }

    #header {
      color: white; /*color de "Home" junto a la flecha arrow-back*/
      --app-header-background-rear-layer: {background-color: #075E54;}; /*color del header al volver con scroll*/
    }

    .tarjeta-post {
      position: relative;
      width: 720px;
      margin: 300px auto 40px;
    }
    paper-card {
      padding: 16px 5px 80px 100px;
      width: 100%;
      sizing: border-box;
      background-color: RGBA(255,255,255,0.85);
    }
    paper-card p {
      margin: 12px 0;
      color: #075E54;
      text-indent: 30px;
    }
    .item-autor {
      margin: 40px 0 0;
      @apply --layout-horizontal;
    }
    .item-fecha {
      margin: 10px 0;
      @apply --layout-horizontal;
    }
    .autor-fecha-fijo {
      margin-left: -80px;
      width: 60px;
      padding-right: 20px;
      color: #075E54;
      text-align: right;
    }
    .autor-fecha-variable {
      @apply --layout-flex;
    }
    .paperfabpapelera {
      position: absolute;
      right: 40px;
      bottom: 20px;
      --paper-fab-background: #25D366;
      --paper-fab-keyboard-focus-background: #25D366;
      --paper-fab-disabled-background: transparent;
      --paper-fab-disabled-text: transparent;
    }
    .paperfabeditar {
      position: absolute;
      right: 100px;
      bottom: 20px;
      --paper-fab-background: #25D366;
      --paper-fab-keyboard-focus-background: #25D366;
      --paper-fab-disabled-background: transparent;
      --paper-fab-disabled-text: transparent;
    }
    .paperfabojo {
      position: absolute;
      left: 50px;
      bottom: 20px;
      --paper-fab-background: #25D366;
      --paper-fab-keyboard-focus-background: #25D366;
    }
    @media (max-width: 720px) {
      .tarjeta-post {
        width: 100%;
        margin: 150px 0 0;
      }
    }
    </style>

    <app-header-layout>
      <app-header id="header" effects="waterfall fade-background" reveals slot="header">
        <app-toolbar>
          <a href="#/home" tabindex="-1">
            <paper-icon-button icon="app:arrow-back"  title="Back Home...   made"></paper-icon-button>
          </a>

          <div main-title>Home<em style="color: #d6d6d6; font-style: italic">made</em></div>
        </app-toolbar>

      </app-header>

      <div class="tarjeta-post">
        <paper-card id="papercard" heading="{{listadodetail.titulo}}">
            <p id="textoEditado"></p>

            <div class="item-autor">
              <div class="autor-fecha-fijo">Author:</div>
              <div class="autor-fecha-variable">{{listadodetail.alias}}</div>
            </div>

            <div class="item-fecha">
              <div class="autor-fecha-fijo">Date:</div>
              <div class="autor-fecha-variable">{{listadodetail.fechaalta}}</div>
            </div>

            <paper-fab class= "paperfabpapelera" mini icon="app:delete" disabled id="iconoBorrarPost" on-tap="deletePostDialog" title="Remove Post"></paper-fab>

            <a href="#/edit/{{listadodetail._id.$oid}}">
              <paper-fab class= "paperfabeditar" mini icon="app:create" disabled id="iconoEditarPost" title="Edit Post"></paper-fab>
            </a>

            <a href="{{listadodetail.imageUrl}}" target="_blank">
              <paper-fab class="paperfabojo" mini icon="app:photo-camera" title="View photo"></paper-fab>
            </a>
            <paper-toast id="borradoIncorrecto" text="Error removing post!!!"></paper-toast>
        </paper-card>
      </div>
    </app-header-layout>

    <paper-alert-dialog id="dialogoBorrar" title="Remove... Are you sure?" dismiss-button="No, Cancel" confirm-button="Yes" on-confirm="deletePost"></paper-alert-dialog>
    <paper-alert-dialog id="dialogoBorrado" confirm-button="OK" on-confirm="deletedPostDialog">
      <paper-icon-button icon="app:done" style="color: #25D366"></paper-icon-button>
      <span style="font-size:20px">Post Removed!!!</span>
    </paper-alert-dialog>
  </template>

  <script>
  Polymer({
    is: 'page-detail',
    properties: {
      listadodetail: {
        type: Object,
        observer: '_postsChanged'
      }
    },

    _postsChanged(listadodetail) {
      if (listadodetail) {
        this.style.backgroundImage = 'url(' + listadodetail.imageUrl + ')';

        var item = this.listadodetail;
        var itemtexto = item.texto.replace(/\r?\n/g, "<br><br>"); /*Para los saltos de carro*/
        this.$.textoEditado.innerHTML = itemtexto;

        var iconoBorrarPost = this.$.iconoBorrarPost;
        var iconoEditarPost = this.$.iconoEditarPost;
        var item = this.listadodetail;

        if (sessionStorage.myUsuario == item.alias) {
          iconoBorrarPost.disabled = false;
          iconoEditarPost.disabled = false;
        }
        else{
          iconoBorrarPost.disabled = true;
          iconoEditarPost.disabled = true;
        }
      }
    },

    deletePostDialog: function() {
      this.$.dialogoBorrar.open();
    },

    deletePost: function() {
      const URLBASE = "https://api.mlab.com/api/1/databases/bootcampjass/collections/postsjaas";
      const APIKEY = "?apiKey=SGJFX_7hANA-eUprGG1mWSnwtPBPLecI";
      var item = this.listadodetail;
      var itemid = item._id.$oid;
      var peticion = new XMLHttpRequest();
      peticion.open("DELETE", URLBASE+'/'+itemid+APIKEY, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send();

      if (peticion.status=="200"){
          this.$.dialogoBorrado.open();
        }
      else{
          this.$.borradoIncorrecto.fitInto = this.$.papercard;
          this.$.borradoIncorrecto.open();
        }
    },

    deletedPostDialog: function() {
      location.assign("#/home");
      location.reload(false);
    }

  });
  </script>

</dom-module>
