<dom-module id="page-list">
  <template>
    <style>

    /*panel superior*/
    app-header {
      color: #fff;
      background-color: #075E54;
    }
    app-toolbar {
      height: 120px;
    }
    [condensed-title] {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url('../images/minilogo.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 90px;
      /* The difference in font size is used to calculate the scale of the title in the transition. */
      font-size: 16px;
    }
    [main-title] {
      position: absolute;
      top: -120px;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: url('../images/logo.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 240px;
      -webkit-transform-origin: center top !important;
      transform-origin: center top !important;
      /* The difference in font size is used to calculate the scale of the title in the transition. */
      font-size: 32px;
    }

    /*Area de listado de Posts*/
    .listado-posts {
      display: block;
      position: relative;
      max-width: 98%;
      margin: 5px auto;
    }

    /*Post individual*/
    .tarjeta-post {
      display: inline-block;
      width: 33.33%;
      color: black;
      text-decoration: none;
    }
    paper-card {
      display: block;
      margin: 5px;
      --paper-card-header-image: {
        height: 240px;
      }
    }
    /*paper-card:hover {
      opacity: 1;
      }*/
    }
    paper-card h2 {
      margin: 4px;
      margin-top: -10px;
      padding-top: -10px;
      font-weight: normal;
    }
    paper-card p {
      margin: 4px;
      color: #999;
    }

    .card-content {
      padding-top: 0px;
    }

    /*Icono de alta de Post*/
    .create {
      position: fixed;
      right: 24px;
      bottom: 24px;
      --paper-fab-background: #25D366;
      --paper-fab-keyboard-focus-background: #25D366;
      --paper-fab-disabled-background: transparent;
      --paper-fab-disabled-text: transparent;
    }

    .people, .person {
      position: fixed;
      right: 80px;
      bottom: 24px;
      height: 30px;
      width: 30px;
      --paper-fab-background: #34B7F1;
      --paper-fab-keyboard-focus-background: #34B7F1;
      --paper-fab-disabled-background: transparent;
      --paper-fab-disabled-text: transparent;
    }

    .shuffle, .pan-tool {
      position: fixed;
      right: 60px;
      bottom: 60px;
      height: 30px;
      width: 30px;
      --paper-fab-background: #34B7F1;
      --paper-fab-keyboard-focus-background: #34B7F1;
      --paper-fab-disabled-background: transparent;
      --paper-fab-disabled-text: transparent;
    }

    .subir {
      position: fixed;
      right: 24px;
      bottom: 24px;
      height: 30px;
      width: 30px;
      --paper-fab-background: #34B7F1;
      --paper-fab-keyboard-focus-background: #34B7F1;
      --paper-fab-disabled-background: transparent;
      --paper-fab-disabled-text: transparent;
    }
    /*Ajustes de escala por zoom y dispositivos*/
    @media (max-width: 960px) {
      .listado-posts {
        max-width: 800px;
      }
      .tarjeta-post {
        width: 50%;
      }
    }
    @media (max-width: 719px) {
      app-toolbar {
        height: 60px;
      }
      [condensed-title] {
        background-image: url('../images/minilogo.png');
        background-size: 60px;
      }
      [main-title] {
        top: -60px;
        background-image: url('../images/logo.png');
        background-size: 90px;
      }
      .listado-posts {
        max-width: 400px;
      }
      .tarjeta-post {
        width: 100%;
      }
    }
    </style>

    <app-header-layout>
      <app-header effects="resize-title" condenses fixed shadow slot="header">
        <app-toolbar class="top-toolbar">
          <slot name="drawer-toggle"></slot>
          <div condensed-title></div>
        </app-toolbar>
        <app-toolbar class="bottom-toolbar">
          <div main-title></div>
        </app-toolbar>
      </app-header>

      <div class="listado-posts">
        <template is="dom-repeat" items="{{listadopagelist}}" filter="filterMy" sort="sortItems" initial-count="1"><!-- No empty text node
        --><a href="#/detail/{{item._id.$oid}}" class="tarjeta-post">
            <paper-card image="{{item.imageUrl}}">
              <div class="card-content">
                <h2>{{item.titulo}}</h2>
                <p>By <span>{{item.alias}}</span><span style="float:right">{{item.fechaalta}}</span></p>
              </div>
            </paper-card>
          </a><!-- No empty text node
      --></template>
      </div>
    </app-header-layout>

    <a href="#/create">
      <paper-fab mini icon="app:add" class="create" disabled id="iconoNuevoPost" title="Create New Post"></paper-fab>
    </a>

    <paper-fab class="people" mini icon="app:people" on-tap="verTodos" disabled id="iconoVerTodos" title="View All Posts"></paper-fab>
    <paper-fab class="person" mini icon="app:person" on-tap="verMios" disabled id="iconoVerMios" title="View My Posts"></paper-fab>
    <paper-fab class="shuffle" mini icon="app:shuffle" on-tap="mezclarPosts" disabled id="iconoMezclarPosts" title="Shuffle Posts"></paper-fab>
    <paper-fab class="pan-tool" mini icon="app:pan-tool" on-tap="fijarPosts" disabled id="iconoFijarPosts" title="Nail Posts"></paper-fab>
    <paper-fab class="subir" mini icon="app:arrow-upward" on-tap="subir" id="iconoSubir" title="Scroll up"></paper-fab>
  </template>

  <script>
  Polymer({
    is: 'page-list',

    ready: function() {
      var iconoNuevoPost = this.$.iconoNuevoPost;
      var iconoVerTodos = this.$.iconoVerTodos;
      var iconoVerMios = this.$.iconoVerMios;
      var iconoMezclarPosts = this.$.iconoMezclarPosts;
      var iconoFijarPosts = this.$.iconoFijarPosts;

      if (sessionStorage.myUsuario) {
        iconoNuevoPost.disabled = false;
        const style = "bottom: 80px;";
        this.$.iconoSubir.style = style;


        if(sessionStorage.view=="myPosts"){
          iconoVerTodos.disabled = false;
          iconoVerMios.disabled = true;
        }
        else{
          iconoVerTodos.disabled = true;
          iconoVerMios.disabled = false;
        }

        if(sessionStorage.suffle=="yes"){
          iconoFijarPosts.disabled = false;
          iconoMezclarPosts.disabled = true;
        }
        else{
          iconoFijarPosts.disabled = true;
          iconoMezclarPosts.disabled = false;
        }
      }
      else{
        iconoNuevoPost.disabled = true;
        iconoVerTodos.disabled = true;
        iconoVerMios.disabled = true;
        iconoMezclarPosts.disabled = true;
        iconoFijarPosts.disabled = true;
      }
    },

    verTodos: function() {
      sessionStorage.setItem("view", "allPosts");
      location.reload(false);
    },

    verMios: function() {
      sessionStorage.setItem("view", "myPosts");
      location.reload(false);
    },

    mezclarPosts: function() {
      sessionStorage.setItem("suffle", "yes");
      location.reload(false);
    },

    fijarPosts: function() {
      sessionStorage.setItem("suffle", "no");
      location.reload(false);
    },


    subir: function() {
      scrollTo(0,0);
    },

    filterMy: function(item) {
        return (item.alias == sessionStorage.myUsuario) || !(sessionStorage.myUsuario) || (sessionStorage.view=="allPosts");
    },

    sortItems: function() {
      if(sessionStorage.suffle=="yes") {
        return Math.round(Math.random()*3) - 1;
      }
      else {
        return 1;
      }
    }

  });
  </script>
</dom-module>
