listadousers2<dom-module id="page-manage-users">
  <template>
    <style>
    :host {
      display: block;
      background-attachment: fixed;
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-color: #075E54;
    }

    paper-icon-button {
      color: white; /*color de la flecha arrow-back*/
    }

    #header {
      color: white; /*color de "Home" junto a la flecha arrow-back*/
      --app-header-background-rear-layer: {background-color: #075E54;}; /*color del header al volver con scroll*/
    }

    /*tarjeta-post*/
    .tarjeta-post {
      position: relative;
      width: 500px;
      margin: 100px auto 40px;
    }
    paper-card {
      padding: 16px 0 80px 50px;
      width: 100%;
      sizing: border-box;
      --paper-card-header: {text-align: center};
    }
    paper-input {
      width: 90%;
    }
    .person {
      position: absolute;
      right: 40px;
      bottom: 20px;
      --paper-fab-background: #25D366;
      --paper-fab-keyboard-focus-background: #25D366;
    }
    .person-add {
      position: absolute;
      right: 100px;
      bottom: 20px;
      --paper-fab-background: #25D366;
      --paper-fab-keyboard-focus-background: #25D366;
    }
    .person-outline {
      position: absolute;
      left: 50px;
      bottom: 20px;
      --paper-fab-background: var(--paper-red-500);
      --paper-fab-keyboard-focus-background: var(--paper-red-900);
      --paper-fab-disabled-background: transparent;
      --paper-fab-disabled-text: transparent;
    }
    .delete {
      position: absolute;
      left: 110px;
      bottom: 20px;
      --paper-fab-background: var(--paper-red-500);
      --paper-fab-keyboard-focus-background: var(--paper-red-900);
      --paper-fab-disabled-background: transparent;
      --paper-fab-disabled-text: transparent;
    }
    @media (max-width: 720px) {
      .tarjeta-post {
        width: 100%;
        margin: 150px 0 0;
      }
    }
    </style>

    <app-header-layout>
      <app-header id="header" effects="waterfall fade-background" reveals slot="header">
        <app-toolbar>
          <a href="#/users" tabindex="-1">
            <paper-icon-button icon="app:arrow-back"  title="Back Home...   made"></paper-icon-button>
          </a>

          <div main-title>Home<em style="color: #d6d6d6; font-style: italic">made</em></div>
        </app-toolbar>
      </app-header>

      <div class="tarjeta-post">
        <paper-card id="papercard">
          <iron-form id="formulario">
            <form method="get">
              <paper-input label="User" id="myUsuario" required auto-validate></paper-input>
              <paper-input label="Password" id="myPassword" type="password" required auto-validate char-counter maxlength="8"></paper-input>
              <paper-input label="Repeat Password" id="myPassword2" type="password" required auto-validate char-counter maxlength="8"></paper-input>
              <paper-input label="URL Avatar" id="myAvatar" required auto-validate></paper-input>
              <paper-toast id="loginIncorrecto" text="Wrong user or password!!!"></paper-toast>
              <paper-toast id="usuarioExistente" text="User already exists!!!"></paper-toast>
              <paper-toast id="passwordErronea" text="Passwords do not match!!!"></paper-toast>
              <paper-toast id="registroIncorrecto" text="User registration error!!!"></paper-toast>
              <paper-toast id="borradoIncorrecto" text="Error removing user!!!"></paper-toast>

              <paper-fab class="person" mini icon="app:person" on-tap="iniciarSesion" disabled id="iconoIniciarSesion" title="Log In"></paper-fab>
              <paper-fab class="person-add" mini icon="app:person-add" on-tap="nuevoUsuario" disabled id="iconoNuevoUsuario" title="Sign Up"></paper-fab>
              <paper-fab class="person-outline" mini icon="app:person-outline" on-tap="finalizarSesion" disabled id="iconoFinalizarSesion" title="Log Out"></paper-fab>
              <paper-fab class="delete" mini icon="app:delete" on-tap="borrarUsuario" disabled id="iconoBorrarUsuario" title="Remove User"></paper-fab>
            </form>
          </iron-form>
        </paper-card>
      </div>
    </app-header-layout>

    <paper-alert-dialog id="dialogoBorrar" title="Remove... Are you sure?" dismiss-button="No, Cancel" confirm-button="Yes" on-confirm="deleteUser"></paper-alert-dialog>
    <paper-alert-dialog id="dialogoBorrado" confirm-button="OK" on-confirm="finalizarSesion">
      <paper-icon-button icon="app:done" style="color: #25D366"></paper-icon-button>
      <span style="font-size:20px">User Removed!!!</span>
    </paper-alert-dialog>
  </template>

  <script>
  Polymer({
    is: 'page-manage-users',

    ready: function() {
      var formulario = this.$.formulario;
      var iconoIniciarSesion = this.$.iconoIniciarSesion;
      var iconoNuevoUsuario = this.$.iconoNuevoUsuario;
      var iconoFinalizarSesion = this.$.iconoFinalizarSesion;
      var iconoBorrarUsuario = this.$.iconoBorrarUsuario;
      var myUsuario = this.$.myUsuario;
      var myPassword = this.$.myPassword;

      if (sessionStorage.myUsuario) {
        iconoFinalizarSesion.disabled = false;
        iconoBorrarUsuario.disabled = false;
        this.$.papercard.heading = sessionStorage.myUsuario;
      }
      else{
        iconoFinalizarSesion.disabled = true;
        iconoBorrarUsuario.disabled = true;
      }

      formulario.addEventListener('change', function(event) {
        iconoNuevoUsuario.disabled = !formulario.validate();
        iconoIniciarSesion.disabled = !(myUsuario.validate() && myPassword.validate());
      });
    },

    iniciarSesion: function() {
      sessionStorage.setItem("machearLista", "iniciarSesion");
      this.machearLista();

      if (sessionStorage.machearLista=="iniciarSesionOK") {
        location.assign("#/home");
        location.reload(false);
      }
      else {
        this.$.loginIncorrecto.fitInto = this.$.papercard;
        this.$.loginIncorrecto.open();
      }
    },

    nuevoUsuario: function() {
      var myPassword = this.$.myPassword.value;
      var myPassword2 = this.$.myPassword2.value;

      if (myPassword==myPassword2) {
        sessionStorage.setItem("machearLista", "nuevoUsuario");
        this.machearLista();

        if (sessionStorage.machearLista=="nuevoUsuarioRepetido") {
          this.$.usuarioExistente.fitInto = this.$.papercard;
          this.$.usuarioExistente.open();
        }
        else {
          this.altaUsuario();
        }
      }
      else {
        this.$.passwordErronea.fitInto = this.$.papercard;
        this.$.passwordErronea.open();
      }

    },

    altaUsuario: function() {
       var myUsuario = this.$.myUsuario.value;
       var myPassword = this.$.myPassword.value;
       var myAvatar = this.$.myAvatar.value;

       const DRIVE1A = "https://drive.google.com/file/d/";
       const DRIVE1B = "https://drive.google.com/open?id=";
       const DRIVE2 = "http://drive.google.com/uc?export=view&id=";

       for (var i = 33; i < myAvatar.length; ++i) {
         if (myAvatar.substring(i,i+1)=="/") {
           break;
         }
       }

       if (myAvatar.substring(0, 32)==DRIVE1A){
         myAvatar = DRIVE2 + myAvatar.substring(32, i);
       }

       if (myAvatar.substring(0, 33)==DRIVE1B){
         myAvatar = DRIVE2 + myAvatar.substring(33, i);
       }

       const URLBASE = "https://api.mlab.com/api/1/databases/bootcampjass/collections/usersjaas";
       const APIKEY = "?apiKey=SGJFX_7hANA-eUprGG1mWSnwtPBPLecI";
       var peticion = new XMLHttpRequest();
       peticion.open("POST", URLBASE+APIKEY, false);
       peticion.setRequestHeader("Content-Type", "application/json");
       peticion.send('{"usuario":"' + myUsuario + '", "password":"' + myPassword + '", "imageUrl":"' + myAvatar + '"}');

       if (peticion.status=="200") {
         sessionStorage.clear();
         sessionStorage.setItem("myUsuario", myUsuario);
         sessionStorage.setItem("myAvatar", myAvatar);
         sessionStorage.setItem("view", "allPosts");
         sessionStorage.setItem("suffle", "no");
         location.assign("#/users");
         location.reload(false);
       }
       else
       {
         this.$.registroIncorrecto.fitInto = this.$.papercard;
         this.$.registroIncorrecto.open();
       }
     },

     finalizarSesion: function() {
       sessionStorage.clear();
       location.assign("#/users");
       location.reload(false);
     },

    borrarUsuario: function(){
      this.$.dialogoBorrar.open();
    },

    deleteUser: function(){
      this.$.myUsuario.value = sessionStorage.myUsuario;
      if (!sessionStorage.myId){
        sessionStorage.setItem("machearLista", "finalizarSesion");
        this.machearLista();
      }
      const URLBASE = "https://api.mlab.com/api/1/databases/bootcampjass/collections/usersjaas";
      const APIKEY = "?apiKey=SGJFX_7hANA-eUprGG1mWSnwtPBPLecI";
      var itemid = sessionStorage.myId;
      var peticion = new XMLHttpRequest();
      peticion.open("DELETE", URLBASE+'/'+itemid+APIKEY, false);
      peticion.setRequestHeader("Content-Type", "application/json");
      peticion.send();

      if (peticion.status=="200"){
          this.$.dialogoBorrado.open();
        }
      else{
          this.$.borradoIncorrecto.fitInto = this.$.papercard;
          this.$.borradoIncorrecto.open();
        }
    },

    machearLista: function() {
      var myUsuario = this.$.myUsuario.value;
      var myPassword = this.$.myPassword.value;
      var listadousers2 = this.listadousers2;

      for (var i = 0; i < this.listadousers2.length; ++i) {
        var r = this.listadousers2[i];
        var idMongo = r._id.$oid;
        var userMongo = r.usuario;
        var passMongo = r.password;
        var urlMongo = r.imageUrl;

        if (myUsuario == userMongo) {
          if ((sessionStorage.machearLista=="iniciarSesion")&&(myPassword==passMongo)) {
            sessionStorage.clear();
            sessionStorage.setItem("machearLista", "iniciarSesionOK");
            sessionStorage.setItem("myId", idMongo);
            sessionStorage.setItem("myUsuario", userMongo);
            sessionStorage.setItem("myAvatar", urlMongo);
            sessionStorage.setItem("view", "myPosts");
            sessionStorage.setItem("suffle", "no");
            break;
          }

          if (sessionStorage.machearLista=="nuevoUsuario") {
            sessionStorage.setItem("machearLista", "nuevoUsuarioRepetido");
            break;
          }

          if (sessionStorage.machearLista=="finalizarSesion") {
            sessionStorage.setItem("myId", idMongo);
            break;
          }
        }
      }
    }

  });
  </script>

</dom-module>
